
.page-header {padding:0; margin:0;}
header h1 {float:left; margin:10px;}
header img {float:left;}
#nav {padding:16px 0 0 0;}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    min-height: 150px;
}

.media-object {
	border:1px solid #ddd;
	margin-right:5px;
}

#forecast .control-label{
	text-align: left;
}

div.ifp_thumb { 
	width:145px;
	height:190px;
	padding:10px;
	float: left;
}
