
.page-header {padding:0; margin:0;}
header h1 {float:left; margin:10px;}
header img {float:left;}
#nav {padding:16px 0 0 0;}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    min-height: 150px;
}

.media-object {
	border:1px solid #ddd;
	margin-right:5px;
}

#forecast table th{
	vertical-align: bottom;	
}

#forecast .slider-val{
	width:50px;	
	text-align: center;
}

#forecast .glyphicon.glyphicon-lock.unlocked{
	color:#ddd;	
	cursor:pointer;
}

#forecast .glyphicon.glyphicon-lock.locked{
	color:#000;	
	cursor:pointer;
}

#forecast .slider-val.locked{
	color:red;	
}

#forecast .noUiSlider{
	margin:3px 10px 0 0;
	width:250px;
}

#forecast .noUi-base {
	width:233px;	
}

#forecast label {
	text-align:left
}

div.ifp_thumb { 
	width:145px;
	height:190px;
	padding:10px;
	float: left;
}
